p {
	margin: 0 !important;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

.pageheaderdiv1 {
	background-color: #D6001C !important;
	background-image: none !important;
	height: 150px;
	padding: 0 !important;
	display: flex;
	align-items: center;
	margin: 0 !important;
}

.headerlinksdiv {
	padding: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 12.5% !important;
	margin-right: 12.5% !important;
}
.headerlinksdiv td {
    margin: 0 !important;
    padding: 0 !important;

    outline: 0 !important;
    font-size: 100% !important;
    vertical-align: baseline !important;
    background: transparent;
    text-align: center;
}

.headerwrapperdiv table {
	border-top: 1px solid #8e8e8e !important;
}

.headerlinksdiv table {
	border-top: 0px solid #000000 !important;
}

.headerlinksdiv td a {
	display:inline-block;
    width:100%;
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	padding-top: 15px !important;
	padding-bottom: 12px !important;
}

.tabon {
	background-color: #D6001C !important;
}

.tabon a {
	color: #ffffff !important;
}

.taboff a {
	color: #8e8e8e !important;
}

table tbody tr td table {
	width: 100%;
}

form {
	font-family: "Source Sans Pro, sans-serif";
}

.pagebodydiv {
	overflow: auto;
	padding-bottom: 100px;
}

.maincontenttable {
	width: 100%;
}

.material-icons {
	font-size: 48px !important;
	color: #474747;
}

.titleP {
	color: #474747 !important;
	font-size: 24px;
}

.supportText {
	color: #474747 !important;
}

h1 {
	color: #474747 !important;
	font-weight: 1000 !important;
}

.custommenucell {
	padding-top: 15px;
	padding-bottom: 15px;
}



footer {
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #363636;
	padding-top: 15px;
	color: white;
	font-size: 13px;
}
